<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title></title>
        <link rel="stylesheet" href="/css/main.min.css" />

        <!-- open graph -->
        <meta property="og:type" content="article" />
        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="lea-tortay" />
        <meta property="og:description" content="" />

        <!-- twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@lea_tortay" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:image" content="" />
    </head>
    <body>
        <h1>-base-</h1>

        <div>
          {% include 'i18n/switcher.njk' %}
        </div>

        {{ content | safe }}
    </body>
</html>
