<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        {% include 'html/head.njk' %}
    </head>
    <body class="has-navbar-fixed-top">
        
            {{ content | safe }}

            {% include 'html/footer.njk' %}
       
    </body>
</html>
