<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>{% if locale %}{{ data.meta[locale].title }}{% else %}{{ data.index.title }}{% endif %}{% if title %} | {{ title }}{% endif %}</title>
<link rel="stylesheet" href="/css/main.css" />

<!-- open graph -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{% if locale %}{{ data.meta[locale].title }}{% else %}{{ data.index.title }}{% endif %}{% endif %}" />
<meta property="og:image" content="{{ '//' + data.meta.siteUrl + '/img/site-image.png' | url }}" />
<meta property="og:site_name" content="{{ data.index.title }}" />
<meta property="og:description" content="{% if locale %}{{ data.meta[locale].description }}{% else %}{{ data.index['en'].introText }}{% endif %}" />
<meta property="og:url" content="{{ 'https://' + data.meta.siteUrl + page.url | url }}" />

<!-- twitter -->
{# <meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@lea_tortay" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="" /> #}
 <meta name="twitter:card" content="summary_large_image" />

 <!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">

<!-- Google Font  -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0:900;1,100;1,300;1,700&display=swap" rel="stylesheet">
