@use 'variables' as vars;
@use '../../../node_modules/bulma/sass/utilities/_all.sass' as bulma;

.hero {
    background-color: vars.$color-base-dark;

    &.hero.is-fullheight-with-navbar {
        min-height: calc(75vh - 3.25rem);
    }

    .hero-body {
        margin: 0 auto;
    }

    @media screen and (min-width: bulma.$tablet) {
        .hero-body {
            max-width: 80vw;
        }
    }

    @media screen and (min-width: bulma.$desktop) {
        .hero-body {
            max-width: 800px;
        }
    }
}
