@import 'variables';

.hero {
    background-color: $color-base-dark;

    &.hero.is-fullheight-with-navbar {
        min-height: calc(75vh - 3.25rem);
    }

    .hero-body {
        margin: 0 auto;
    }

    @media screen and (min-width: $tablet) {
        .hero-body {
            max-width: 80vw;
        }
    }

    @media screen and (min-width: $desktop) {
        .hero-body {
            max-width: 800px;
        }
    }
}
