@use 'variables' as vars;
@use '../../../node_modules/bulma/sass/utilities/_all.sass' as bulma;

.navbar {
    .navbar-menu {
        .navbar-item {
            .button {
                background-color: transparent;
                color: vars.$color-base-light;
            }
        }
    }
}

.hero {
    .hero-body {
        flex-direction: column;

        .hero-image img {
            max-height: 30vh;
        }

        .hero-moto {
            padding: 2rem;

            img {
                max-height: 4rem;
            }
        }
    }

    .hero-foot {
        font-size: 2rem;
        text-align: center;

        .scroll-icon {
            display: inline-block;
            transform: rotate(90deg) scaleY(2);
            color: rgba(vars.$color-base-light, 0.25);
            font-weight: 100;
        }
    }

    @media screen and (min-width: bulma.$tablet) {
        .hero-body {
            flex-direction: row;

            .hero-image {
                max-height: unset;
                flex: 1 1 50%;

                img {
                    max-height: 50vh;
                }
            }

            .hero-moto {
                margin-top: 4rem;
                flex: 1 1 50%;
            }
        }

        .hero-foot {
            font-size: 4rem;
        }
    }
}

.index {
    min-height: 50vh;

    h1 {
        font-size: 3rem;
        font-weight: 900;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}
