@use '../../../node_modules/bulma/sass/utilities/_all.sass' as bulma;
@use 'variables' as vars;

.navbar {
    padding: 0 1rem;

    &.is-black {
        background-color: vars.$color-base-dark;
    }

    @media screen and (min-width: bulma.$tablet) {
        padding: 0 2rem;
    }

    @media screen and (min-width: bulma.$desktop) {
        padding: 0 2rem;
    }

    .container {
        justify-content: center;

        .navbar-menu {
            max-width: bulma.$desktop;
        }
    }

    .navbar-brand {
        .logo {
            display: inline-flex;

            img {
                height: 2rem;
                margin: auto;
            }
        }
    }
}
