@import 'variables';

.navbar {
    padding: 0 1rem;

    &.is-black {
        background-color: $color-base-dark;
    }

    @media screen and (min-width: $tablet) {
        padding: 0 2rem;
    }

    @media screen and (min-width: $desktop) {
        padding: 0 2rem;
    }

    .navbar-start {
        .navbar-item {
            height: 100%;

            a.logo {
                display: inline-flex;
                height: 100%;
                align-items: center;
            }
        }
    }
}
