---
layout: 'layouts/index.njk'
---

<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span class="logo">
            <img
                src="/img/logo/mono.svg"
                alt="{{ data.meta.person }}"
            />
        </span>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
{% for link in data.nav['en'].links %}
            {% set url = ['/en/', link.url] | join %}
            <div class="navbar-item">
                <a href="{{ url | url }}" class="button is-ghost" title="{{ link.title }}">
                    {{ link.title }}
                </a>
            </div>
{% endfor %}
        </div>
    </div>
</nav>

<section class="hero is-fullheight-with-navbar">
    <div class="hero-head"></div>
    <div class="hero-body">
        <div class="hero-image">
            <img src="/img/hero.jpg" alt="{{ data.meta[locale].title }}" />
        </div>
        <div class="hero-moto">
            <div>
                <img src="/img/logo/logo.svg" />
            </div>
        </div>
    </div>
    <div id="precontent" class="hero-foot">
        <a href="#precontent">
            <span class="scroll-icon">&gt;</span>
        </a>
    </div>
</section>

<div class="content index box">
    <article>
        <h1>{{ data.meta.person }}</h1>
        <div class="dual-lang">
            <div class="en" lang="en">
                <p>{{ data.index['en'].introText }}</p>
                <p>
                    <!-- <a class="button is-info is-outlined">
                        <span> {{ data.index['en'].continueLink }} </span>
                        <span class="icon" aria-hidden="true">
                            &rarr;
                        </span>
                    </a> -->
                </p>
            </div>
            <div class="divider is-vertical">•</div>
            <div class="fr" lang="fr">
                <p>{{ data.index['fr'].introText }}</p>
                <p>
                    <!-- <a class="button is-info is-outlined">
                        <span> {{ data.index['fr'].continueLink }} </span>
                        <span class="icon" aria-hidden="true">
                            &rarr;
                        </span>
                    </a> -->
                </p>
            </div>
        </div>
    </article>
</div>
