<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>The official website of Elena Sommer</title>

        <meta
            name="description"
            content="Mezzo-soprano Elena Sommer is a mezzo-soprano of Russian origin. Based in France, she has an active career in Europe and elsewhere around the world. Her crystalline mezzo-soprano voice is powerful, carrying a wide range."
        />
        <style>
            body {
                max-width: 500px;
                margin: 0 auto;
                color: #353535;
                background-color: #ececec;
            }
        </style>
    </head>
    <body>
        <h1>The official website of Elena&nbsp;Sommer</h1>
        <p>
            Dear friends! My&nbsp;webpage is&nbsp;under maintenance.
            I'll&nbsp;be back to&nbsp;you with updated design soon.
        </p>
        <hr />
        <h1>Le site officiel d'Elena&nbsp;Sommer</h1>
        <p>
            Chers amis! Ma&nbsp;site Web est en&nbsp;cours de&nbsp;maintenance.
            Je&nbsp;vous reviendrai bientôt avec un&nbsp;design
            mis&nbsp;à&nbsp;jour.
        </p>
    </body>
</html>
